#body {
    background-color: #0f0576;
    color: white;
    min-width: 90vw;
    min-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: calc(13px + (25 - 13) * ((100vw - 300px) / (1600 - 300)));
    font-family: sans-serif;
}

.styled {
    border: 0;
    width: 55vw;
    line-height: 2.5;
    margin: 6vh 0;
    padding: 0 20px;
    font-size: 2rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
            rgba(0, 0, 0, .2),
            rgba(0, 0, 0, .2) 30%,
            rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
        inset -2px -2px 3px rgba(0, 0, 0, .6);
    outline: none;
    cursor: pointer;
    transition: .3s ease;
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
        inset 2px 2px 3px rgba(0, 0, 0, .6);
}